/* TEST */
.invisibleDiv {
    background-color: var(--color1);
}
.popup {
    max-width: max-content;
    border: var(--border);
    background-color: var(--color2);

    position: relative;
}
.displayable {
    border: var(--border);
    padding: 2px;
    margin: 2px;
}
/*  */
.root {
    display: flex;
    flex-direction: row;
}
/* SYNTH */
.synthPanel {
    background-color: rgb(34, 29, 29);
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.synthPanel2 {
    background-color: rgb(34, 29, 29);
    display: flex;
    flex-direction: row;
    padding: 5px;
}
/* MODULES */
.modulePanel {
    background-color: var(--color1);
    border: var(--border);
    color: var(--textColor);
    padding: 2px;
    margin-right: 5px;
    min-width: max-content;
    max-width: max-content;
}
/* SECTIONS */
.section {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 2px;
    border: var(--border); 
    min-width: max-content;
}
/* SUBSECTIONS */
.subDiv {
    /* border: var(--border); */
    padding: 2px;
    display: inline;
    font-size: small;
}
.subDiv > input {
    padding-left: 5px;
}
/*  */
.divTitle {
    width: 100px;
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #221d1d;
    margin: 2px;
    padding: 2px;
}
.divTitle:hover {
    background-color: var(--colorHover);
}
/*  */
#div_waves > .subDiv {
    display: flex;
    justify-content: space-between;
}
.oscToggleWave {
    width: 39px;
    background-color: #221d1d;
    border-radius: 8px;
}
/* OSC GAIN */
.gainDivGain {
    display: flex;
    flex-direction: column;
    max-width: 40px;

}
.gainDivGain > input[type=range] {
    width: 50px;
    /* input range 1*/
    /* transform-origin: 33px 25px;  */  
    /* transform-origin: 35px 20px; */

    /* input range 2*/
    transform-origin: 32px 22px;
    transform: rotate(-90deg);
}
/* input range 1*/
/* input[type=range] {
    -webkit-appearance: none;
    height: 5px;
    border: 1px solid grey;
    border-radius: 8px;
} */

/* input range 2*/
input[type=range] {
    -webkit-appearance: none;
    padding: 0;               
    outline: none;   
    opacity: .8;
    box-sizing: border-box; 
    transition: opacity .2s;
    cursor: pointer;
    width: 100px;
}
input[type=range]::-moz-range-track {
    /* height: 100%; */
    /* border: none; */
    border: 1px solid grey;
    border-radius: 0;
    background-color: transparent; 
  }
  input[type=range]::-moz-range-thumb {
    width: 5px;
    height: 100%;
    border: none;
    border-radius: 0;
  }
  input[type=range]::-moz-range-progress {
    height: 0;
    background: transparent;
    border: 1px solid grey;
  }
/*  */
input[type=text], input[type=number], select {
    width: 40px;
    /* max-width: 40px; */
    border-radius: var(--radius);
}